[submodule ".registry"]
	path = .registry
	url = https://github.com/beta-calendar/beta-calendar.r-universe.dev
	branch = HEAD
[submodule "betaCalendarsR"]
	path = betaCalendarsR
	url = https://github.com/Beta-Calendar/betaCalendarsR
